<html>
		<center><h1>LET'S PLAY!</h1>
    <br>
    <center><h3>Playing against <%=opponent%></h3></center>

 	<form method="post" action="/play_game"></form>

    Player one select X or O. <select text='marker' value='X'>
        <option value=>X</option>
        <option value=>O</option>

     <select text='marker'>
        <option value=></option>
    





  <style type="text/css"></style>
	<table width="50">
  <tr>
    <td><input type='submit' value='<%=board.ttt_board[0]%>' name='choice'></td>
    <td><input type='submit' value='<%=board.ttt_board[1]%>' name='choice'></td>
    <td><input type='submit' value='<%=board.ttt_board[2]%>' name='choice'></td>
  </tr>
  
  <tr>
    
    <td><input type='submit' value='<%=board.ttt_board[3]%>' name='choice'></td>
    <td><input type='submit' value='<%=board.ttt_board[4]%>' name='choice'></td>
    <td><input type='submit' value='<%=board.ttt_board[5]%>' name='choice'></td>
  </tr>
  
  <tr>
    
    <td><input type='submit' value='<%=board.ttt_board[6]%>' name='choice'></td>
    <td><input type='submit' value='<%=board.ttt_board[7]%>' name='choice'></td>
    <td><input type='submit' value='<%=board.ttt_board[8]%>' name='choice'></td>
</tr>

</table>
</center>
</html>